#!/usr/bin/make -f
# -*- makefile -*-

PACKAGE := python-fpdb

build: build-stamp
build-stamp:
	dh_testdir
	python setup.py build
	touch $@

clean:
	dh_testdir
	dh_testroot
	python setup.py clean
	rm -rf build
	dh_clean build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_prep || dh_clean -k
	dh_installdirs
	#
	python setup.py install --root=debian/$(PACKAGE) --prefix=/usr --no-compile
	# Copy *.pyw manually in packaging tree
	cp pyfpdb/*.pyw debian/$(PACKAGE)/usr/lib/python2.7/site-packages/fpdb/
	# Remove scripts that are only useful in win32
	rm debian/$(PACKAGE)/usr/lib/python2.7/site-packages/fpdb/windows_make_bats.py


binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_link
	dh_compress
	dh_fixperms
	dh_pysupport
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install

