body {margin: 0px; padding: 0px; background-color: #fff; font-family: "Verdana", "Arial", sans-serif; font-size: 13px; color: #333;}

a {text-decoration: none; color: #336984;}

a:hover {color: #e00000;}

img {border: 0px;}

h1 {font-size: 23px;}

li {padding: 3px;}


/* ------------------------------------------------- */
#header {
    padding: 20px 20px 10px 20px;
    background-color: #8BB9D1;
    border-bottom: 10px solid #4690B5;
    color: #fff;
    font-size: 31px;
}

#logo a {
    font-size: 32px;
    color: #5C5C49;
}


/* ------------------------------------------------- */
#main			{ margin-left: 210px; margin-right: 15px; }
.winInst div		{ width: 906px; }
.screenshot		{ background-color: #E8F1F6; padding: 0px; margin: 10px auto; padding: 10px; }
.screenshot img	{ padding: 2px; border: 1px solid #87aade; }
.screenshot p		{ margin: 0; }
#screens		{ float: left; margin: 1em; text-align: center; }

/* ------------------------------------------------- */
#sidebar {background-color: #E8F1F6; width: 180px; padding: 10px; float: left;}

#sidebar ul {padding: 0px; margin: 0px; list-style-position: inside;}

#sidebar ul li {border-bottom: 1px solid #D1E3EC; padding: 3px;}

#sidebar ul li:hover {background-color: #fff;}

#sidebar a {text-decoration: none;}

dl dt { float: left; width: 200px; font-weight: bold; }


/* ------------------------------------------------- */
#footer	{ clear: both; text-align: right; padding: 1em 2em; }
