I recommend using a free/libre operating system, meaning a GNU/Linux distribution or a BSD variant (e.g. Gentoo GNU/Linux or OpenBSD) for ethical and practical reasons. Would you buy a car where you're prohibited from opening the bonnet under threat of jail? If the answer is no you should by the same logic not use closed source software for real money Poker :)

Unfortunately you will always need one piece of unfree software: The poker client itself. Although not a direct dependency of fpdb you obviously will have a hard time putting this to productive use without running some poker client. As far as I know, only unfree clients are available. If you know better please let me know ASAP!

If you can be bothered please do contact your poker site(s) and ask them to release free/libre clients, even if it is only for Windows. But lets be realistic, the chance of a positive answer is very low.

Before I start the list a note on the databases, as of git96 I have yet to try using this with PostgreSQL, but if I'm not mistaken it should actually work by now (the stuff in fpdb-python at least).

If you use a package management system (e.g. if you have GNU/Linux or *BSD) just check that you have mysql, mysql-python and pygtk or postgresql, pygresql and pygtk. Your package manager will take care of the rest for you.

	
Make new entries in this format:
X. Program Name
===============
a. Optional?
b. Required Version and Why
c. Project Webpage
d. License

1. MySQL
========
a. Optional?
	Choose MySQL or PostgreSQL
b. Required Version and Why
	At least 3.23 required due to mysql-python.
	I use 5.0.54 and 5.0.60-r1 (GNU/Linux) and 5.0.51b (Windows).
c. Project Webpage
	http://www.mysql.com
d. License
	GPL2

2. PostgreSQL
=============
a. Optional?
	Choose MySQL or PostgreSQL
b. Required Version and Why
	I use 8.0.15 (GNU/Linux) and 8.3.3 (Windows) but I am not aware of any incompatibilities
	with older or newer versions, pls report success/failure.
c. Project Webpage
	http://www.postgresql.org
d. License
	BSD License

3. mysql-python
===============
a. Optional?
	Required if you want to use MySQL backend
b. Required Version and Why
	I use 1.2.2 but I am not aware of any incompatibilities with older or newer versions, pls report success/failure.
c. Project Webpage
	http://sourceforge.net/projects/mysql-python/
d. License
	SF lists GNU General Public License (GPL), Python License (CNRI Python License), Zope Public License.
	Project states GPL without version in Pkg-info.

4. pygresql
===========
a. Optional?
	Required if you want to use PostgreSQL backend
b. Required Version and Why
	I use 3.6.2 but I am not aware of any incompatibilities with older or newer versions, pls report success/failure.
c. Project Webpage
	http://www.pygresql.org/
d. License
	http://www.pygresql.org/readme.html#copyright-notice (BSD License?)
	Summary: "Permission to use, copy, modify, and distribute this software and its 
	documentation for any purpose, without fee, and without a written agreement 
	is hereby granted[...]" plus Disclaimer.

5. Python
=========
a. Optional?
	Required.
b. Required Version and Why
	I use 2.4.4 and 2.5.2 but I am not aware of any incompatibilities with older or newer versions, pls report success/failure.
c. Project Webpage
	http://www.python.org
d. License
	Python License

6. GTK+ and dependencies
=======
a. Optional?
	Required.
b. Required Version and Why
	I use 2.12.9 but it should run with 2.10 or higher. That is needed as I used MessageDialog updates
c. Project Webpage
	Main: http://www.gtk.org/
	API spec: http://library.gnome.org/devel/gtk/2.12/
	Windows DLs (get the bundle unless you know what you're doing): http://www.gtk.org/download-windows.html
d. License
	LGPL2

7. PyGObject
============
a. Optional?
	Required.
b. Required Version and Why
	?
c. Project Webpage
	main: http://www.pygtk.org
d. License
	LGPL2.1

8. PyCairo
==========
a. Optional?
	Required.
b. Required Version and Why
	?
c. Project Webpage
	main: http://www.pygtk.org
d. License
	LGPL2.1

9. PyGTK
========
a. Optional?
	Required.
b. Required Version and Why
	?
c. Project Webpage
	main: http://www.pygtk.org
d. License
	LGPL2.1



License (of this file)
=======
Trademarks of third parties have been used under Fair Use or similar laws.

Copyright 2008 Steffen Jobbagy-Felso
Permission is granted to copy, distribute and/or modify this
document under the terms of the GNU Free Documentation License,
Version 1.2 as published by the Free Software Foundation; with
no Invariant Sections, no Front-Cover Texts, and with no Back-Cover
Texts. A copy of the license can be found in fdl-1.2.txt

The program itself is licensed under AGPLv3, see agpl-3.0.txt
